*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper__header {
  background: url(./assets/bg-image.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  margin-bottom: 120px;
  padding-top: 25px;
  padding-bottom: 90px;
}

.container {
  width: 1082px;
  padding: 0 10px;
  margin: auto;
}

.header {
  margin-bottom: 160px;
}
.header__nav {
  padding: 0 100px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0;
}

.header__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.8;
}

.header__link--active {
  font-weight: 500;
  opacity: unset;
  border-bottom: 1px solid #ffffff;
}

.life {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.life__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.life__description {
  max-width: 504px;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button {
  padding: 15px 47px;
  background: #00afdb;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 183px;
}

.social__item {
  margin-right: 30px;
}
.social__item:last-child {
  margin-right: 0;
}
.rappresent {
  padding-bottom: 140px;
}
.rappresent__cotainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rappresrnt__content {
  max-width: 407px;
}
.rappresent__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin-top: 175px;
  margin-bottom: 20px;
}

.rappresent__text {
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
  margin-bottom: 30px;
}
.rappresent__img {
  max-width: 407px;
}

.community {
  background: #f5f6f7;
  padding-top: 82px;
  padding-bottom: 140px;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 120px;
}
.community__wrapper {
  display: flex;
  align-items: center;
}

.community__left {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 298px;
  margin-right: 139px;
}
.user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.community__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: #373737;
}

.community__desc {
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #4e4e4e;
}

.community__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 83px;
  margin-bottom: 20px;
}

.nav__btn {
  cursor: pointer;
}

.slider__items {
  display: flex;
}
.slider__item {
  margin-right: 30px;
}
.item__slide {
  width: 407px;
  height: 244px;
  object-fit: cover;
}
.item__slide-next {
  width: 407px;
  height: 244px;
  margin-right: 0;
  object-fit: cover;
  overflow: hidden;
}
.slider__item-next {
  margin-right: 0;
}
.signup {
  height: 524px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./assets/pexels-christina-morillo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
}

.form {
  position: relative;
}
.form__input {
  width: 406px;
  height: 46px;
  padding-left: 24px;
  border: none;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
}
.form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 66px;
  height: 100%;
  border: none;
  background: #00afdb;
  cursor: pointer;
}

.download {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 180px;
}

.download__title {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin-bottom: 20px;
}

.download__text {
  margin-top: 0;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  max-width: 480px;
  color: #4e4e4e;
  margin-bottom: 30px;
}
.download__btn {
  display: flex;
  width: 402px;
  justify-content: space-between;
}
.button__download {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.button__text {
  padding-right: 18px;
  padding-left: 18px;
}

.buttom__img {
  background: #009cc2;
  padding: 13px 20px;
}

.footer {
  background: #000000;
  padding-top: 60px;
  padding-bottom: 80px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__nav {
  padding: 0;
}
.footer__list {
  display: flex;
  padding: 0;
  margin: 0;
}
.footer__item {
  display: block;
  font-size: 14px;
  line-height: 140%;
  color: #818181;
}
.footer__link {
  margin-right: 20px;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  color: #ffffff;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__link--active::after {
  margin-left: 20px;
  content: "";
  border: 1px solid #4e4e4e;
  transform: rotate(-90deg);
}
.logo__footer {
  margin-left: -90px;
}
